@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Quicksand';
  }

  main {
    flex: 1 0 auto;
  }
  .fontgoog{
    font-family: Arial, Helvetica, sans-serif;
  }

  .ques{
    min-height: 100vh;
  }

iframe {
  max-width: 100%;
}

/* Navbar */
.nav-wraper {
  font-family: 'Martel', serif;
}
/* Navbar End */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Text Me One', sans-serif;
}

/* Register Button */
.hackoct {position: relative;}
.register-btn {
    position: absolute;
    bottom: 140px; 
    right: 10px; 
    border-radius: 35px;
  
    
  }
/* Register Button End */

@media only screen and (max-width:750px) {

  .code-img {
    padding-top: 2.8rem;
    border-radius: 10%;
    max-width: 100%;
    height: auto;
  }

  .hackoct {position: relative;}
  .register-btn {
      position: absolute;
      bottom: 80px; 
      right: 0px; 
  }
  
  th {
    padding:0;
  } 
  .hack-image {padding-left:12px ;}
}