@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;

  }

  main {
    flex: 1 0 auto;
  }
  .fontgoog{
    font-family: 'Merriweather', serif;
  }

  .ques{
    min-height: 100vh;
  }
